<VirtualHost *:8080>

  # Admin email, Server Name (domain name) and any aliases
  ServerAdmin isiweb@isi.org
  ServerName {{hostname}}

  # Index file and Document Root (where the public files are located)
  DirectoryIndex index.php index.html
  DocumentRoot {{doc_root}}

  # Custom log file locations
  LogLevel warn
  ErrorLog "/var/log/httpd/{{hostname}}-error_log"
  CustomLog "/var/log/httpd/{{hostname}}-access_log" common

  # Redirects
  RedirectMatch 301 ^/george-w-carey$ https://{{hostname}}/about/people/2277
  RedirectMatch 301 ^/stephen-tonsor$ https://{{hostname}}/about/people/2301
  RedirectMatch 301 ^/about$ https://{{hostname}}/about/why-were-here
  RedirectMatch 301 ^/about/contact$ https://{{hostname}}/contact
  RedirectMatch 301 ^/presidentsclub$ https://{{hostname}}/donors/donor-clubs
  RedirectMatch 301 ^/buckleysociety$ https://{{hostname}}/donors/donor-clubs
  RedirectMatch 301 ^/join/general$ https://{{hostname}}/join
  RedirectMatch 301 ^/join/signup$ https://{{hostname}}/join
  RedirectMatch 301 ^/join/paid-signup$ https://{{hostname}}/join
  RedirectMatch 301 ^/join/acadmic$ https://{{hostname}}/join
  RedirectMatch 301 ^/join/academic$ https://{{hostname}}/join
  RedirectMatch 301 ^/join/free-signup$ https://{{hostname}}/join
  RedirectMatch 301 ^/join/signup-confirmation$ https://{{hostname}}/join
  RedirectMatch 301 ^/join/student-signup$ https://{{hostname}}/join
  RedirectMatch 301 ^/publications/journals$ https://{{hostname}}/journal/intercollegiate-review
  RedirectMatch 301 ^/programs/faculty-volunteer$ https://{{hostname}}/professors
  RedirectMatch 301 ^/gateways/faculty$ https://{{hostname}}/professors
  RedirectMatch 301 ^/events/paolucci$ https://{{hostname}}/professors/paolucci-book-award
  RedirectMatch 301 ^/programs/faculty-volunteer$ https://{{hostname}}/professors/scholarship-mentoring
  RedirectMatch 301 ^/calendar$ https://{{hostname}}/quicklinks/news-events-calendar
  RedirectMatch 301 ^/speakers$ https://{{hostname}}/speakers-bureau-0
  RedirectMatch 301 ^/spotlight/view/25$ https://{{hostname}}/spotlight/aurora-griffin
  RedirectMatch 301 ^/spotlight/view/23$ https://{{hostname}}/spotlight/courtney-mceachon
  RedirectMatch 301 ^/spotlight/view/1$ https://{{hostname}}/spotlight/hans-andersson
  RedirectMatch 301 ^/spotlight/view/26$ https://{{hostname}}/spotlight/john-paul-spence
  RedirectMatch 301 ^/spotlight/view/24$ https://{{hostname}}/spotlight/michael-bradley
  RedirectMatch 301 ^/programs$ https://{{hostname}}/students
  RedirectMatch 301 ^/programs/deleader$ https://{{hostname}}/students
  RedirectMatch 301 ^/programs/delaware-leadership$ https://{{hostname}}/students
  RedirectMatch 301 ^/gateways/students$ https://{{hostname}}/students
  RedirectMatch 301 ^/programs/essay-contest$ https://{{hostname}}/students/essay-contest
  RedirectMatch 301 ^/programs/delaware-essay-contest$ https://{{hostname}}/students/essay-contest
  RedirectMatch 301 ^/programs/essay-contests$ https://{{hostname}}/students/essay-contest
  RedirectMatch 301 ^/programs/essay-contests-registration$ https://{{hostname}}/students/essay-contest
  RedirectMatch 301 ^/programs/essay-contests-registration$ https://{{hostname}}/students/essay-contest
  RedirectMatch 301 ^/programs/fellowships$ https://{{hostname}}/students/fellowships
  RedirectMatch 301 ^/programs/fellowships/weaver$ https://{{hostname}}/students/fellowships
  RedirectMatch 301 ^/programs/fellowships/renshaw$ https://{{hostname}}/students/fellowships
  RedirectMatch 301 ^/programs/fellowships/salvatori$ https://{{hostname}}/students/fellowships
  RedirectMatch 301 ^/programs/fellowships/westernciv$ https://{{hostname}}/students/fellowships
  RedirectMatch 301 ^/societies$ https://{{hostname}}/students/isi-societies
  RedirectMatch 301 ^/programs/groups$ https://{{hostname}}/students/isi-societies
  RedirectMatch 301 ^/programs/societies$ https://{{hostname}}/students/isi-societies
  RedirectMatch 301 ^/programs/student-leader$ https://{{hostname}}/students/isi-societies
  RedirectMatch 301 ^/programs/volunteer$ https://{{hostname}}/students/isi-societies
  RedirectMatch 301 ^/events/conferences/summer$ https://{{hostname}}/students/seminars-conferences
  RedirectMatch 301 ^/events/conferences$ https://{{hostname}}/students/seminars-conferences
  RedirectMatch 301 ^/events/lectures$ https://{{hostname}}/students/seminars-conferences
  RedirectMatch 301 ^/events/conferences$ https://{{hostname}}/students/seminars-conferences
  RedirectMatch 301 ^/events/lectures$ https://{{hostname}}/students/seminars-conferences
  RedirectMatch 301 ^/programs/lectures$ https://{{hostname}}/students/seminars-conferences
  RedirectMatch 301 ^/programs/off-campus-events$ https://{{hostname}}/students/seminars-conferences
  RedirectMatch 301 ^/programs/debates$ https://{{hostname}}/students/seminars-conferences
  RedirectMatch 301 ^/about/people$ https://{{hostname}}/team
  RedirectMatch 301 ^/myisi$ https://{{hostname}}/user
  RedirectMatch 301 ^/myisi/splash$ https://{{hostname}}/user
  RedirectMatch 301 ^/publications/journals$ https://{{hostname}}/journals
  RedirectMatch 301 ^/events/indianapolis-conf$ http://www2.isi.org/events/indianapolis-conf
  RedirectMatch 301 ^/events/wyoming-leadership$ http://www2.isi.org/events/wyoming-leadership
  RedirectMatch 301 ^/philly-soc(.*)$ https://www2.isi.org/philly-soc$1
  RedirectMatch 301 ^/events/philly-soc$ https://www2.isi.org/philly-soc
  RedirectMatch 301 ^/programs/essay_contests$ https://{{hostname}}/students/essay-contest
  RedirectMatch 301 ^/programs/honors$ https://{{hostname}}/students/honors-program
  RedirectMatch 301 ^/calendar/(.*)$ https://www2.isi.org/calendar/$1
  RedirectMatch 301 ^/membership$ https://{{hostname}}/join

  <Directory {{doc_root}}>
    AllowOverride All
    Order allow,deny
    Allow from All
  </Directory>

</VirtualHost>