[production]
// Php
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0

// Paths
includePaths.library = APPLICATION_PATH "/../library"

// Contants
constants.BASE_PATH				= "/"
constants.ABSOLUTE_PATH                         = "http://{{hostname}}/"
constants.HTTPS_BASE_PATH                       = "https://{{hostname}}/"
constants.CSS_PATH				= "/styles/isi-dark/css/"
constants.JS_PATH				= "/scripts/js/"
constants.DOJO_RELEASE_PATH			= "/scripts/js/"
constants.IMG_PATH				= "/media/images/"
constants.CACHE_DIR				= APPLICATION_PATH "/../temp/"
constants.IMG_DIR				= APPLICATION_PATH "/../public/media/images/"
constants.IMG_REL_PATH				= "media/images/"
constants.BLOG_DIR				= APPLICATION_PATH "/../data/blog_index"
constants.BLOG_CHANNEL_INDEX_DIR                = APPLICATION_PATH "/../data/blog_channel_index"
constants.CATALOG_INDEX_DIR			= APPLICATION_PATH "/../data/catalog_index"
constants.INDEX_DIR				= APPLICATION_PATH "/../temp/my-index"
constants.DEFAULT_NOREPLY_ADDRESS               = 'noreply@mail.faculty.isi.org';
constants.TEMP_DIR				= APPLICATION_PATH "/../temp/";
constants.MAILER_DOMAIN				= "mail.faculty.isi.org";
constants.PDF_PATH				= "/media/pdfs/"
constants.SPEAKER_IMPORTS_DIR                   = APPLICATION_PATH "/../data/speaker_imports"

// Bootstrap
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"

// Namespaces
appnamespace = "Application"
autoloaderNamespaces[] = "LASC_"
autoloaderNamespaces[] = "ZFExt_"
autoloaderNamespaces[] = "Misc_"

// Front Controller
resources.frontController.params.displayExceptions = 0
resources.frontController.moduleDirectory = APPLICATION_PATH "/modules"
resources.modules[] = ""

// Db
resources.db.adapter = "MySQLI"
resources.db.params.host = "localhost"
resources.db.params.username = "{{mysql_username}}"
resources.db.params.password = "{{mysql_pw}}"
resources.db.params.dbname = "{{mysql_dbname}}"
resources.db.isDefaultTableAdapter = true

// Log
resources.log.stream.writerName = "Stream"
resources.log.stream.writerParams.stream = APPLICATION_PATH "/../data/logs/application.log"
resources.log.stream.writerParams.mode = "a"
resources.log.stream.filterName = "Priority"
resources.log.stream.filterParams.priority = 4

// Mail
resources.mail.transport.type = "Smtp"
resources.mail.transport.host = "mail.faculty.isi.org"
resources.mail.transport.auth = "login"
resources.mail.transport.username = "lehrman@mail.faculty.isi.org"
resources.mail.transport.password = "Ijf3fodDuf3RWJ5elx2g"

// View and layout
resources.layout.layoutPath = APPLICATION_PATH "/layouts"
resources.view[] =

// Dojo
resources.dojo.djConfig.parseOnLoad = 1
resources.dojo.localPath = "/scripts/js/dojo/dojo/dojo.js"
//resources.dojo.localPath = "/scripts/js/build1/dojo/dojo/dojo.js"

[staging : production]

[testing : production]
resources.dojo.djConfig.isDebug = 1

phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.params.displayExceptions = 1

constants.INDEX_DIR = APPLICATION_PATH "/../temp/my-index2"