CREATE DATABASE  IF NOT EXISTS `{{mysql_dbname}}` /*!40100 DEFAULT CHARACTER SET latin1 */;
USE `{{mysql_dbname}}`;
-- MySQL dump 10.13  Distrib 5.6.19, for osx10.7 (i386)
--
-- Host: localhost    Database: frc
-- ------------------------------------------------------
-- Server version	5.5.47-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping routines for database 'frc'
--
/*!50003 DROP FUNCTION IF EXISTS `HAS_TRUST_NUM` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` FUNCTION `HAS_TRUST_NUM`(user1_id INT UNSIGNED, user2_id INT UNSIGNED, basis TINYINT(4) ) RETURNS tinyint(1)
BEGIN

DECLARE to_return BOOLEAN;
SET to_return = 0;

IF user2_id = 0 AND basis=1 THEN SET to_return=1;
ELSEIF user2_id = user1_id THEN SET to_return = 1;
ELSEIF EXISTS( SELECT * FROM users WHERE role_id=1 AND u_id=user2_id) THEN SET to_return=1;
ELSEIF EXISTS( SELECT * FROM u_networks WHERE network_id=1 AND user_id=user2_id ) THEN SET to_return=1;
ELSEIF user2_id > 0 THEN
  CASE
  WHEN basis = 1 THEN SET to_return = 1;
  WHEN basis = 2 THEN SET to_return = EXISTS(
    SELECT *
    FROM users
    WHERE status='active'
    AND u_id=user2_id
  );
  WHEN basis = 3 THEN SET to_return = 0;
  WHEN basis = 4 THEN SET to_return = EXISTS(
    SELECT *
    FROM u_friends
	  WHERE ( u_friends.user_id=user1_id AND u_friends.friend_id=user2_id )
       OR ( u_friends.friend_id=user1_id AND u_friends.user_id=user2_id )
  	UNION
  	SELECT *
  	FROM u_networks AS un1
  	WHERE network_id IN ( SELECT network_id FROM u_networks WHERE user_id=user2_id ) AND un1.user_id=user1_id );
  WHEN basis = 5 THEN SET to_return = EXISTS(
    SELECT *
  	FROM u_friends
  	WHERE ( u_friends.user_id=user1_id AND u_friends.friend_id=user2_id )
  	   OR ( u_friends.friend_id=user1_id AND u_friends.user_id=user2_id )
  );
  WHEN basis = 6 THEN SET to_return = EXISTS(
    SELECT *
    FROM trusted_networks
    INNER JOIN u_networks ON trusted_networks.network_id=u_networks.network_id
    WHERE trusted_networks.user_id=user1_id
      AND u_networks.user_id=user2_id
  );
  WHEN basis > 6 THEN SET to_return = 0;
  END CASE;
END IF;

RETURN to_return;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `IS_FRIEND` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` FUNCTION `IS_FRIEND`( user1_id INT UNSIGNED, user2_id INT UNSIGNED ) RETURNS tinyint(1)
BEGIN

RETURN EXISTS(
    SELECT *
  	FROM u_friends
  	WHERE ( u_friends.user_id=user1_id AND u_friends.friend_id=user2_id )
  	   OR ( u_friends.friend_id=user1_id AND u_friends.user_id=user2_id )
  );

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `IS_IN_SAME_NETWORK` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` FUNCTION `IS_IN_SAME_NETWORK`( user1_id INT UNSIGNED, user2_id INT UNSIGNED ) RETURNS tinyint(1)
BEGIN

RETURN EXISTS(
    SELECT *
  	FROM u_networks AS un1
  	WHERE network_id IN ( SELECT network_id FROM u_networks WHERE user_id=user2_id ) AND un1.user_id=user1_id
);

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `MAY_READ_BY_CODE` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` FUNCTION `MAY_READ_BY_CODE`(ra INT UNSIGNED, suid INT UNSIGNED, user_role_id TINYINT(3) UNSIGNED, uid INT UNSIGNED ) RETURNS tinyint(1)
BEGIN

DECLARE to_return BOOLEAN;

SET to_return = 0;

IF user_role_id=4 AND ra=1 THEN SET to_return=1;
ELSEIF user_role_id IN (1,2) THEN SET to_return=1;
ELSEIF user_role_id=4 AND ra>1 THEN SET to_return=0;
ELSEIF user_role_id<4 AND ra<3 THEN SET to_return=1;
ELSEIF uid = suid THEN SET to_return=1;
ELSEIF ra = 4 THEN SET to_return = EXISTS(
    SELECT *
    FROM u_friends
	  WHERE ( u_friends.user_id=suid AND u_friends.friend_id=uid )
       OR ( u_friends.friend_id=suid AND u_friends.user_id=uid )
  	UNION
  	SELECT *
  	FROM u_networks AS un1
  	WHERE network_id IN ( SELECT network_id FROM u_networks WHERE user_id=suid ) AND un1.user_id=uid );
ELSEIF ra = 5 THEN SET to_return = EXISTS(
    SELECT *
  	FROM u_friends
  	WHERE ( u_friends.user_id=suid AND u_friends.friend_id=uid )
  	   OR ( u_friends.friend_id=suid AND u_friends.user_id=uid )
  );

END IF;

RETURN to_return;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `MAY_VISITOR_READ` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` FUNCTION `MAY_VISITOR_READ`(rid INT UNSIGNED, user_role_id TINYINT(3) UNSIGNED, uid INT UNSIGNED ) RETURNS tinyint(1)
BEGIN

DECLARE to_return BOOLEAN;
DECLARE ra INT UNSIGNED;
DECLARE suid INT UNSIGNED;

SET to_return = 0;
SELECT read_code, submitter_id INTO ra, suid FROM resources WHERE r_id=rid;

IF user_role_id=4 AND ra=1 THEN SET to_return=1;
ELSEIF user_role_id IN (1,2) THEN SET to_return=1;
ELSEIF user_role_id=4 AND ra>1 THEN SET to_return=0;
ELSEIF user_role_id<4 AND ra<3 THEN SET to_return=1;
ELSEIF uid = suid THEN SET to_return=1;
ELSEIF ra = 4 THEN SET to_return = EXISTS(
    SELECT *
    FROM u_friends
	  WHERE ( u_friends.user_id=suid AND u_friends.friend_id=uid )
       OR ( u_friends.friend_id=suid AND u_friends.user_id=uid )
  	UNION
  	SELECT *
  	FROM u_networks AS un1
  	WHERE network_id IN ( SELECT network_id FROM u_networks WHERE user_id=suid ) AND un1.user_id=uid );
ELSEIF ra = 5 THEN SET to_return = EXISTS(
    SELECT *
  	FROM u_friends
  	WHERE ( u_friends.user_id=suid AND u_friends.friend_id=uid )
  	   OR ( u_friends.friend_id=suid AND u_friends.user_id=uid )
  );
ELSEIF ra = 6 THEN SET to_return = 0;
END IF;

RETURN to_return;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `MAY_VISITOR_WRITE` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` FUNCTION `MAY_VISITOR_WRITE`(rid INT UNSIGNED, user_role_id TINYINT(3) UNSIGNED, uid INT UNSIGNED ) RETURNS tinyint(1)
BEGIN

DECLARE to_return BOOLEAN;
DECLARE ra INT UNSIGNED;
DECLARE suid INT UNSIGNED;

SET to_return = 0;
SELECT write_code, submitter_id INTO ra, suid FROM resources WHERE r_id=rid;

IF user_role_id=4 AND ra=1 THEN SET to_return=1;
ELSEIF user_role_id=4 AND ra>1 THEN SET to_return=0;
ELSEIF user_role_id<4 AND ra<3 THEN SET to_return=1;
ELSEIF uid = suid THEN SET to_return=1;
ELSEIF ra = 4 THEN SET to_return = EXISTS(
    SELECT *
    FROM u_friends
	  WHERE ( u_friends.user_id=suid AND u_friends.friend_id=uid )
       OR ( u_friends.friend_id=suid AND u_friends.user_id=uid )
  	UNION
  	SELECT *
  	FROM u_networks AS un1
  	WHERE network_id IN ( SELECT network_id FROM u_networks WHERE user_id=suid ) AND un1.user_id=uid );
ELSEIF ra = 5 THEN SET to_return = EXISTS(
    SELECT *
  	FROM u_friends
  	WHERE ( u_friends.user_id=suid AND u_friends.friend_id=uid )
  	   OR ( u_friends.friend_id=suid AND u_friends.user_id=uid )
  );
ELSEIF ra = 6 THEN SET to_return = EXISTS(
  SELECT * FROM r_write_list WHERE resource_id=rid AND user_id=uid
);
END IF;

RETURN to_return;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `PROJECT_ROLE` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` FUNCTION `PROJECT_ROLE`(`rid` INT UNSIGNED, `uid` INT UNSIGNED ) RETURNS tinyint(1)
BEGIN

DECLARE to_return TINYINT(4);
DECLARE maywrite BOOLEAN;
DECLARE roleid TINYINT(4) DEFAULT 0;
DECLARE CONTINUE HANDLER FOR SQLSTATE '02000' SET roleid = 0;


SET to_return=4;

SELECT project_role_id FROM project_roles WHERE user_id=uid AND resource_id=rid INTO roleid;
IF roleid > 0 THEN SET to_return = roleid;
ELSE
  SELECT MAY_VISITOR_WRITE( rid, (SELECT role_id FROM users WHERE u_id=uid), uid ) INTO maywrite;
  IF maywrite = 1 THEN SET to_return=3; END IF;
END IF;

RETURN to_return;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `TRUSTS_VISITOR` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` FUNCTION `TRUSTS_VISITOR`(user1_id INT UNSIGNED, user2_id INT UNSIGNED, basis VARCHAR(20) ) RETURNS tinyint(1)
BEGIN

DECLARE to_return BOOLEAN;
SET to_return = 0;

IF user2_id = 0 AND basis='everyone' THEN SET to_return=1;
ELSEIF user2_id > 0 THEN
  CASE
  WHEN basis = 'everyone' THEN SET to_return = 1;
  WHEN basis = 'networks & friends' THEN SET to_return = EXISTS(
    SELECT *
    FROM u_friends
	  WHERE ( u_friends.user_id=user1_id AND u_friends.friend_id=user2_id )
       OR ( u_friends.friend_id=user1_id AND u_friends.user_id=user2_id )
  	UNION
  	SELECT *
  	FROM u_networks AS un1
  	WHERE network_id IN ( SELECT network_id FROM u_networks WHERE user_id=user2_id ) AND un1.user_id=user1_id );
  WHEN basis = 'friends' THEN SET to_return = EXISTS(
    SELECT *
  	FROM u_friends
  	WHERE ( u_friends.user_id=user1_id AND u_friends.friend_id=user2_id )
  	   OR ( u_friends.friend_id=user1_id AND u_friends.user_id=user2_id )
  );
  END CASE;
END IF;

RETURN to_return;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `add_subject` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` PROCEDURE `add_subject`(IN term_text VARCHAR(255), IN p_id INT UNSIGNED, OUT new_sub_id INT UNSIGNED )
BEGIN

  DECLARE p_rgt INT UNSIGNED;

  DECLARE c_rgt INT UNSIGNED;





  IF !ISNULL(p_id) THEN

    SELECT rgt INTO p_rgt FROM subjects WHERE s_id = p_id;

    SELECT MAX(rgt) INTO c_rgt FROM subjects WHERE parent_id = p_id;

    IF ISNULL(c_rgt) THEN

      SELECT p_rgt-1 INTO c_rgt;

    END IF;



    IF c_rgt + 2 >= p_rgt THEN

      UPDATE subjects SET rgt = rgt + 10 WHERE rgt >= p_rgt;

      UPDATE subjects SET lft = lft + 10 WHERE lft > p_rgt;

    END IF;

    INSERT INTO subjects VALUES( null, term_text, c_rgt + 1, c_rgt + 2, p_id, 0, 0 );

    SELECT LAST_INSERT_ID() INTO new_sub_id;

    INSERT INTO s_terms VALUES( null, 1, new_sub_id, term_text );

  ELSE

    SELECT MAX(rgt) INTO p_rgt FROM subjects;

    INSERT INTO subjects VALUES( null, term_text, p_rgt + 1, p_rgt + 2, 0 );

    SELECT LAST_INSERT_ID() INTO new_sub_id;

    INSERT INTO s_terms VALUES( null, 1, new_sub_id, term_text );

  END IF;



END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `appraise_post` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` PROCEDURE `appraise_post`(IN p_id INT UNSIGNED, IN vote BOOLEAN, IN u_id INT UNSIGNED )
BEGIN



  DECLARE c INT UNSIGNED;



  SELECT pf_id INTO c FROM post_feedback WHERE post_id = p_id AND user_id = u_id;



  IF c IS NULL THEN

    INSERT IGNORE INTO post_feedback VALUES( null, p_id, vote, u_id );

    IF vote = 1 THEN

      UPDATE r_posts SET insightfulness = insightfulness + 1 WHERE rp_id = p_id;

    ELSE

      UPDATE r_posts SET insightfulness = insightfulness - 1 WHERE rp_id = p_id;

    END IF;

  END IF;



  SELECT insightfulness FROM r_posts WHERE rp_id = p_id;



END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `copy_subjects` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` PROCEDURE `copy_subjects`(IN s_id1 INT UNSIGNED, IN s_id2 INT UNSIGNED)
copyit:BEGIN

  DECLARE s1lft INT UNSIGNED;

  DECLARE s1diff INT;

  DECLARE s2lft INT UNSIGNED;

  DECLARE s2diff INT;

  DECLARE s2cr INT UNSIGNED;

  DECLARE finished INT DEFAULT 0;

  DECLARE n_id INT UNSIGNED;

  DECLARE n_pt VARCHAR(50);

  DECLARE n_lft INT UNSIGNED;

  DECLARE n_rgt INT UNSIGNED;

  DECLARE n_pid INT UNSIGNED;

  DECLARE n_used BOOLEAN;

  DECLARE n_locked BOOLEAN;

  DECLARE cur_sub_id INT UNSIGNED;

  DECLARE newbranch CURSOR FOR

    SELECT s_id, preferred_term, lft, rgt, parent_id, is_locked, is_used FROM subjects WHERE lft BETWEEN s1lft AND s1lft + s1diff ORDER BY lft;

  DECLARE CONTINUE HANDLER FOR NOT FOUND SET finished=1;



  SELECT lft,rgt-lft INTO s1lft,s1diff FROM subjects WHERE s_id=s_id1;



  IF s_id2 != 0 THEN

    SELECT lft,rgt-lft INTO s2lft,s2diff FROM subjects WHERE s_id=s_id2;

  ELSE

    SELECT 0, ( SELECT MAX(rgt) FROM subjects ) INTO s2lft, s2diff;

  END IF;



  IF s1lft < s2lft AND s1lft + s1diff > s2lft + s2diff THEN LEAVE copyit; END IF;



  IF s_id2 != 0 THEN

    SELECT MAX(c.rgt) + 1 INTO s2cr

    FROM subjects AS `c`, subjects AS `p`

    WHERE ( c.rgt BETWEEN p.lft AND p.rgt )

    AND p.s_id = s_id2

    AND p.s_id != c.s_id;

  ELSE

    SELECT MAX( rgt ) + 1 INTO s2cr FROM subjects;

  END IF;



  IF ISNULL(s2cr) THEN

    SELECT lft + 1 INTO s2cr FROM subjects WHERE s_id=s_id2;

  END IF;



  UPDATE subjects

  SET rgt = rgt + s1diff + 1

  WHERE rgt >= s2lft + s2diff;



  UPDATE subjects

  SET  lft = lft + s1diff + 1

  WHERE lft > s2lft + s2diff;



  IF s1lft > s2lft THEN

    SELECT lft INTO s1lft FROM subjects WHERE s_id=s_id1;

  END IF;



  OPEN newbranch;



    loopit: LOOP



      FETCH newbranch INTO n_id, n_pt, n_lft, n_rgt, n_pid, n_locked, n_used;



      IF finished=1 THEN

        LEAVE loopit;

      END IF;



      IF n_id = s_id1 THEN

        SELECT s_id2 INTO n_pid;

      ELSE

        SELECT p.s_id INTO n_pid

        FROM subjects AS `n`, subjects AS `p`

        WHERE ( n_lft - s1lft + s2cr ) BETWEEN p.lft AND p.rgt

        ORDER BY p.lft DESC

        LIMIT 1;

      END IF;



      INSERT INTO subjects VALUES( null, n_pt, n_lft - s1lft + s2cr, n_rgt - s1lft + s2cr, n_pid, n_locked, 0 );



      SELECT LAST_INSERT_ID() INTO cur_sub_id;



      INSERT INTO s_terms (is_preferred, term, subject_id)

          SELECT is_preferred, term, c

          FROM s_terms

          JOIN (SELECT cur_sub_id as `c`) as `alias`

          WHERE subject_id=n_id;



      CALL link_subjects( LAST_INSERT_ID(), n_id );



    END LOOP loopit;



  CLOSE newbranch;



END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `get_relatives` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` PROCEDURE `get_relatives`(IN s_id INT UNSIGNED)
BEGIN

  DECLARE cur_id INT UNSIGNED;

  DECLARE finished BOOLEAN DEFAULT 0;

  DECLARE relatives CURSOR FOR

    SELECT r.subject_id FROM s_relations AS `o`, s_relations AS `r`

    WHERE o.subject_id = s_id

    AND r.subject_id != s_id

    AND o.group_id = r.group_id;

  DECLARE CONTINUE HANDLER FOR NOT FOUND SET finished=1;



  CREATE TEMPORARY TABLE t (

  t_id INT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,

  subject_id INT UNSIGNED,

  preferred_term VARCHAR(50) NOT NULL,

  parent_id INT UNSIGNED NOT NULL

  );



  OPEN relatives;



    rel_loop: LOOP



    FETCH relatives INTO cur_id;



    IF finished=1 THEN LEAVE rel_loop; END IF;



    INSERT INTO t SELECT null, a.s_id, a.preferred_term, a.parent_id

                          FROM subjects AS `o`, subjects AS `a`

                          WHERE o.lft BETWEEN a.lft AND a.rgt

                          AND o.s_id = cur_id;



    END LOOP rel_loop;



  CLOSE relatives;



  SELECT DISTINCT `subject_id` as `s_id`, preferred_term, parent_id FROM t;



END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `link_subjects` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` PROCEDURE `link_subjects`(IN s_id1 INT UNSIGNED, IN s_id2 INT UNSIGNED)
BEGIN

  DECLARE grp_id INT UNSIGNED;



  SELECT group_id INTO grp_id FROM s_relations WHERE subject_id IN (s_id1, s_id2) LIMIT 1;



  IF ISNULL(grp_id) THEN

    SELECT MAX( group_id ) + 1 INTO grp_id FROM s_relations;

  END IF;



  IF ISNULL( grp_id ) THEN SELECT 1 INTO grp_id;

  END IF;



  INSERT IGNORE INTO s_relations VALUES( NULL, s_id1, grp_id ),( NULL, s_id2, grp_id);

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `move_subjects` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` PROCEDURE `move_subjects`(IN s_id1 INT UNSIGNED, IN s_id2 INT UNSIGNED)
moveit:BEGIN

  DECLARE s1lft INT UNSIGNED;

  DECLARE s1diff INT;

  DECLARE s2lft INT UNSIGNED;

  DECLARE s2diff INT;

  DECLARE s2cr INT UNSIGNED;



      SELECT lft,rgt-lft INTO s1lft,s1diff FROM subjects WHERE s_id=s_id1;



  IF s_id2 != 0 THEN

    SELECT lft,rgt-lft INTO s2lft,s2diff FROM subjects WHERE s_id=s_id2;

  ELSE

    SELECT 0, ( SELECT MAX(rgt) FROM subjects ) INTO s2lft, s2diff;

  END IF;



  IF s1lft < s2lft AND s1lft + s1diff > s2lft + s2diff THEN LEAVE moveit; END IF;



  IF s_id2 != 0 THEN

    SELECT MAX(c.rgt) + 1 INTO s2cr

    FROM subjects AS `c`, subjects AS `p`

    WHERE ( c.rgt BETWEEN p.lft AND p.rgt )

    AND p.s_id = s_id2

    AND p.s_id != c.s_id;

  ELSE

    SELECT MAX( rgt ) + 1 INTO s2cr FROM subjects;

  END IF;



  IF ISNULL(s2cr) THEN

    SELECT lft + 1 INTO s2cr FROM subjects WHERE s_id=s_id2;

  END IF;



  UPDATE subjects

  SET rgt = rgt + s1diff + 1

  WHERE rgt >= s2lft + s2diff;



  UPDATE subjects

  SET  lft = lft + s1diff + 1

  WHERE lft > s2lft + s2diff;



  IF s1lft > s2lft THEN

    SELECT lft INTO s1lft FROM subjects WHERE s_id=s_id1;

  END IF;



  UPDATE subjects SET lft = lft - s1lft + s2cr, rgt = rgt - s1lft + s2cr WHERE lft BETWEEN s1lft AND s1lft + s1diff;

  UPDATE subjects SET parent_id=s_id2 WHERE s_id=s_id1;



END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `save_project` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` PROCEDURE `save_project`(IN r_id INT UNSIGNED, IN p_text TEXT, IN p_kind VARCHAR(32), IN the_comment TEXT, IN usr_id INT UNSIGNED, IN is_minor BOOLEAN, IN readcode TINYINT(4) )
BEGIN

  DECLARE p_id INT UNSIGNED;

  DECLARE rev_id INT UNSIGNED;

  DECLARE t_id INT UNSIGNED;

  DECLARE urole_id TINYINT UNSIGNED;

  DECLARE is_patrolled BOOLEAN;

  DECLARE ptrl_id INT UNSIGNED;



  INSERT INTO project_texts SET the_text=p_text;

  SELECT LAST_INSERT_ID() INTO t_id;



  INSERT INTO group_projects SET project_kind=p_kind, resource_id=r_id, latest_rev_id=0 ON DUPLICATE KEY UPDATE gp_id = LAST_INSERT_ID(gp_id);

  SELECT LAST_INSERT_ID() INTO p_id;



  INSERT INTO revisions

  SET

    project_id=p_id,

    text_id=t_id,

    user_id=usr_id,

    display_name=( SELECT display_name FROM users WHERE u_id=usr_id ),

  	editors_comment=the_comment,

  	touched=NOW(),

  	minor_edit = is_minor,

  	read_code = readcode;

  SELECT LAST_INSERT_ID() INTO rev_id;



  UPDATE group_projects SET latest_rev_id=rev_id, last_reviewed=NOW() WHERE gp_id=p_id;



  SELECT role_id INTO urole_id FROM users WHERE u_id=usr_id;



  IF urole_id < 3 THEN

    SELECT 1 INTO is_patrolled;

    SELECT usr_id INTO ptrl_id;

  ELSE

    SELECT 0 INTO is_patrolled;

    SELECT 0 INTO ptrl_id;

  END IF;



END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `set_preferred_term` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` PROCEDURE `set_preferred_term`(IN the_term VARCHAR(50), IN thesubject_id INT UNSIGNED)
BEGIN



  UPDATE s_terms SET is_preferred=0 WHERE subject_id=thesubject_id;

  INSERT INTO s_terms VALUES( NULL, 1, thesubject_id, the_term )

    ON DUPLICATE KEY UPDATE is_preferred=1;



  UPDATE subjects SET preferred_term = the_term WHERE s_id = thesubject_id;



END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `set_pt_id` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` PROCEDURE `set_pt_id`(IN subj_id INT UNSIGNED, IN term_id INT UNSIGNED)
BEGIN



  DECLARE old_pt_id INT UNSIGNED;

  DECLARE new_pt_txt VARCHAR(50);



  SELECT term INTO new_pt_txt FROM s_terms WHERE st_id=term_id;

  SELECT st_id INTO old_pt_id FROM s_terms WHERE subject_id=subj_id AND is_preferred=1;



  UPDATE s_terms SET is_preferred=0 WHERE subject_id=subj_id;

  UPDATE subjects SET preferred_term = new_pt_txt WHERE s_id = subj_id;

  UPDATE s_terms SET is_preferred=1 WHERE st_id=term_id;



END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `unlink_subjects` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` PROCEDURE `unlink_subjects`(IN subject1_id INT UNSIGNED, IN subject2_id INT UNSIGNED)
BEGIN





  DECLARE grp_id INT UNSIGNED;



  SELECT a.group_id INTO grp_id

  FROM s_relations AS a

  INNER JOIN s_relations AS b ON a.group_id = b.group_id

  WHERE a.subject_id = subject1_id

  AND b.subject_id = subject2_id;



  DELETE FROM s_relations

  WHERE ( subject_id = subject1_id AND group_id=grp_id )

  OR ( subject_id=subject2_id AND group_id=grp_id );





END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `update_is_used` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` PROCEDURE `update_is_used`()
BEGIN



  DECLARE finished INT DEFAULT 0;

  DECLARE subj_id INT UNSIGNED;

  DECLARE subjects_loop CURSOR FOR

    SELECT s_id FROM subjects;

  DECLARE CONTINUE HANDLER FOR NOT FOUND SET finished=1;



  OPEN subjects_loop;



    loopit: LOOP



      FETCH subjects_loop INTO subj_id;



      IF finished=1 THEN

        LEAVE loopit;

      END IF;



      UPDATE subjects SET is_used =

						( ( SELECT SUM( c ) FROM (

							    SELECT COUNT(*) as c FROM p_experience WHERE subject_id=subj_id

							    UNION

							    SELECT COUNT(*) as c FROM d_subjects WHERE subject_id=subj_id

			  				  UNION

				  			  SELECT COUNT(*) as c FROM p_specialties WHERE subject_id=subj_id

					  		  UNION

						  	  SELECT COUNT(*) as c FROM r_subjects WHERE subject_id=subj_id

						   	) as t

               ) > 0 )

			WHERE s_id = subj_id;



    END LOOP loopit;



  CLOSE subjects_loop;



END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `update_project` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER' */ ;
DELIMITER ;;
CREATE DEFINER=`{{mysql_username}}`@`localhost` PROCEDURE `update_project`(IN r_id INT UNSIGNED, IN p_text TEXT, IN p_kind VARCHAR(32), IN m_edit BOOLEAN, IN usr_id INT UNSIGNED)
BEGIN

  DECLARE p_id INT UNSIGNED;

  DECLARE rev_id INT UNSIGNED;

  DECLARE t_id INT UNSIGNED;



  INSERT INTO project_texts SET the_text=p_text;

  SELECT LAST_INSERT_ID() INTO t_id;



  INSERT INTO group_projects SET project_kind=p_kind, resource_id=r_id, latest_rev_id=0 ON DUPLICATE KEY UPDATE gp_id = LAST_INSERT_ID(gp_id);

  SELECT LAST_INSERT_ID() INTO p_id;



  INSERT INTO revisions SET project_id=p_id, text_id=t_id, user_id=usr_id, display_name=( SELECT display_name FROM users WHERE u_id=usr_id ), minor_edit=m_edit;

  SELECT LAST_INSERT_ID() INTO rev_id;



  UPDATE group_projects SET latest_rev_id=rev_id WHERE gp_id=p_id;



END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2016-12-15 15:04:41
