server {
    listen		80;
	server_name	{{hostname}};

	location '/.well-known/acme-challenge' {
        default_type "text/plain";
        root {{doc_root}};
    }

	location / {
		proxy_pass	http://127.0.0.1:6081;
        proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-Port 443;
		proxy_set_header Host $host;
	}

	{% if generate_ssl_cert %}
	listen	443 ssl;
	ssl_certificate {{ssl_certs_cert_path}};
	ssl_certificate_key {{ssl_certs_privkey_path}};
	{% if ssl_certs_generate_dh_param %}
	ssl_dhparam {{ssl_certs_dhparam_path}}
	{% endif %}
	ssl_session_cache shared:le_nginx_SSL:1m;
	ssl_session_timeout 1440m;

	ssl_protocols TLSv1 TLSv1.1 TLSv1.2; 
	ssl_prefer_server_ciphers on;

	ssl_ciphers "ECDHE-ECDSA-AES128-GCM-SHA256 ECDHE-ECDSA-AES256-GCM-SHA384 ECDHE-ECDSA-AES128-SHA ECDHE-ECDSA-AES256-SHA ECDHE-ECDSA-AES128-SHA256 ECDHE-ECDSA-AES256-SHA384 ECDHE-RSA-AES128-GCM-SHA256 ECDHE-RSA-AES256-GCM-SHA384 ECDHE-RSA-AES128-SHA ECDHE-RSA-AES128-SHA256 ECDHE-RSA-AES256-SHA384 DHE-RSA-AES128-GCM-SHA256 DHE-RSA-AES256-GCM-SHA384 DHE-RSA-AES128-SHA DHE-RSA-AES256-SHA DHE-RSA-AES128-SHA256 DHE-RSA-AES256-SHA256 EDH-RSA-DES-CBC3-SHA";
	{% endif %}
}