<?php
return array(
    'db' => array(
		'username' => '{{mysql_username}}',
		'password' => '{{mysql_pw}}',
		'dsn' => 'mysql:dbname={{mysql_dbname}};host=localhost',
    ),
    'sf-api' => array(
        'username' => '{{sfapi_username}}', // The username of the SF account used for the API
        'password' => '{{sfapi_pw}}',
        'security_token' => '{{sfapi_token}}',
        'individual-id' => '{{sfapi_individual_id}}',
        'wsdl-filename' => '{{sfapi_wsdl}}',
        'sandbox' => {{sfapi_sandbox}},
    ),
	/*
    'sandbox-sf-api' => array(
        'username' => 'dkidd@isi.org.devbox2', // The username of the SF account used for the API
        'password' => '[hfZ;ygi6JyLQNYunM6C',
        'security_token' => 'TDe0FuTloTP7OB6l9lBFQeH1H',
        'wsdl-filename' => 'devbox2-wsdl.xml',
        'individual-id' => '001J000001607hF',
		'sandbox' => true,
    ),
    /*
	'isi-payment' => array(
        'authorize-net' => array(
            'api-id' => '6WxLzJ922',
            'transaction-key' => '6J9HbZ9y8k4TWc2P',
            'sandbox' => false,
        ),
    ),
    */
	/* SANDBOX */
    'isi-payment' => array(
        'authorize-net' => array(
            'api-id' => '{{authnet_api_id}}',
            'transaction-key' => '{{authnet_transaction_key}}',
            'secret-question' => '{{authnet_secret_question}}',
            'sandbox' => true,
        ),
    ),
    /* */
	/* */
	'view_manager' => array(
		'display_not_found_reason' => false,
	        'display_exceptions'       => false,
	),

	/** Force HTTPS **/
	'router' => array(
        'routes' => array(
            'donate' => array(
                'options' => array(
                    'defaults' => array(
                        'force-ssl' => 'ssl',
                    ),
                ),
            ),
			'paid-student-signup' => array(
				'options' => array(
					'defaults' => array(
						'force-ssl' => 'ssl',
					),
				),
			),
			'membership' => array(
				'options' => array(
					'defaults' => array(
						'force-ssl' => 'ssl',
					),
				),
			),
	    'dwc-registration' => array(
                'options' => array(
                    'defaults' => array(
                        'force-ssl' => 'ssl',
                    ),
                ),
            ),
        ),
    ),

	'smtp-options' => array(
        'name'              => 'mandrill',
        'host'              => 'smtp.mandrillapp.com',
        'port'              => 587,
        'connection_class'  => 'login',
        'connection_config' => array(
            'username' => '{{mandrill_username}}',
            'password' => '{{mandrill_pw}}',
        ),
    ),
   'view_manager' => array(
     'display_not_found_reason' => {{display_not_found_reason}},
     'display_exceptions'       => {{display_exceptions}},
   )
);