<?php
return array(
    'db' => array(
        'username' => '{{mysql_username}}',
        'password' => '{{mysql_pw}}',
        'dsn' => 'mysql:dbname={{mysql_dbname}};host=localhost',
    ),
    'sf-api' => array(
        'username' => '{{sfapi_username}}', // The username of the SF account used for the API
        'password' => '{{sfapi_pw}}',
        'security_token' => '{{sfapi_token}}',
        'individual-id' => '{{sfapi_individual_id}}',
        'wsdl-filename' => '{{sfapi_wsdl}}',
        'sandbox' => {{sfapi_sandbox}},
    ),
    'smtp-options' => array(
        'name'              => 'mandrill',
        'host'              => 'smtp.mandrillapp.com',
        'port'              => 587,
        'connection_class'  => 'login',
        'connection_config' => array(
            'username' => '{{mandrill_username}}',
            'password' => '{{mandrill_pw}}',
        ),
    ),
   'view_manager' => array(
     'display_not_found_reason' => {{display_not_found_reason}},
     'display_exceptions'       => {{display_exceptions}},
   )
);