<?php
return array(
    'db' => array(
        'username' => '{{mysql_username}}',
        'password' => '{{mysql_pw}}',
		'dsn' => 'mysql:dbname={{mysql_dbname}};host=localhost',
    ),
    'base_url' => 'https://{{hostname}}',
);