<?php
return array(
    'db' => array(
		'username' => '{{mysql_username}}',
		'password' => '{{mysql_pw}}',
		'dsn' => 'mysql:dbname={{mysql_dbname}};host=localhost',
    ),
    'cnnewslink' => array(
        'feed-url' => 'http://data.isi.org/feed/fetch/cnnewslink.atom?limit=30',
    ),
	'view_manager' => array(
		'display_not_found_reason' => {{display_not_found_reason}},
        'display_exceptions'       => {{display_exceptions}},
	),
);