<VirtualHost *:8080>

  # Admin email, Server Name (domain name) and any aliases
  ServerAdmin isiweb@isi.org
  ServerName {{hostname}}

  # Index file and Document Root (where the public files are located)
  DirectoryIndex index.php index.html
  DocumentRoot {{doc_root}}

  # Custom log file locations
  LogLevel warn
  ErrorLog "/var/log/httpd/{{hostname}}-error_log"
  CustomLog "/var/log/httpd/{{hostname}}-access_log" common

  <Directory {{doc_root}}>
    AllowOverride All
    Order allow,deny
    Allow from All
  </Directory>

</VirtualHost>

{% if (domain_redirects is defined) and domain_redirects %}
<VirtualHost *:8080>
  {% for redirect in domain_redirects %}
    {% if loop.first %}
  ServerName {{redirect}}
    {% else %}
  ServerAlias {{redirect}}
    {% endif %}
  {% endfor %}
  Redirect / {{domain_redirect_to}}
</VirtualHost>
{% endif %}